:root{
  --header-botoes: #305f9c;
  --texto-fundo: #F4F6F8;
  --texto-principal: #2E2E2E;
  --info: #007bff;
  --sucesso: #28a745;
  --alerta: #ffc107;
  --critico: #dc3545;
  --resultado: #e2e9e9;
}